#title {
	border-bottom: 1px solid black;
	display: inline-block;
	width: 200px;
	margin-left: 20px;
	text-align: center;
}
.users h1 {
	margin: 10px 0;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 1px solid black;
	display: inline-block;
	width: 275px;
}
form {
	margin: 20px 0 20px 20px;
}
input {
	display: inline-block;
    margin: 0 0 8px 15px;
}
label {
	margin-right: 15px;
    display: block;
}
.users p {
	font-size: 16px; 
	line-height: 18px;
}
.newContact {
	background-color: #EFF2B9;
	color: #3D2D2A;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 350px;
	border-radius: 20px;
    border: 1px solid #3D2D2A;

}
.info-toggle {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	font-size: 0.7em;
}
.additional-user-info {
	display: none;
	padding: 10px;
}
